# --- Target & Build ---
target/
build/
bin/
out/

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr

# --- Eclipse (为了你的队友) ---
.settings/
.project
.classpath
.factorypath
.apt_generated/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Log files ---
*.log